body{
    margin: 0;
    padding: 0;
    position: relative;
}



.box1,.box4{
    width:100%;
    height: 200px;
    background-color: palevioletred;
    border: 4px dotted black;
    border-radius: 80px;
    
}
    
.box2{
    width: 30%;
    height:200px;
    background-color: rgb(15, 227, 15);
    border: 10px solid #000000;
    border: 5px dashed brown;
    border-radius: 50px;
    right:0;
    position: absolute;
    bottom: 0;
   
   

}
.box3{
    width: 50%;
    height: 300px;background-color:yellow;
    border: 5px double black;
    border-radius: 50px;
}